.header {
    background-color:whitesmoke;
    width: 100%;
    font-size: 2rem;
    color: #2A77AE;
    margin-bottom: 10px;
    padding:50px;
  }
  

  .scores {
   float: right;
   position : relative;
  }